<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'files/bootstrap.min.css' %}">
    <script src="{% static 'files/bootstrap.min.js' %}"></script>
    <script src="{% static 'files/jquery.min.js' %}"></script>
    <script src="{% static 'files/popper.min.js' %}"></script>
    <title>{{title}}</title>
</head>
<body>
    <div class="container w-50">
        {% if form %}
          <h3>{{heading}}</h3>
            <div class="container m-1">
               <form action="{% url action %}" method="post">
                   {% csrf_token %}
                        {% for fm in form %}
                        {{fm.label_tag }}
                        {{fm}}
                        {{fm.errors | striptags}}
                        {% endfor %}
                    <input type="submit" value="{{button}}">
               </form>
            </div>

        {% endif %}
    </div>
    
</body>
</html>